<!--
<div class="main-banner">
	<div class="container-fluid">
		<div class="main-heading row">
			<div class="col-md-12">
				<h1 class="text-center lead">Весь спектр <span>товарів</span> на Ваш вибір</h1>

			</div>
		</div>
	</div>
</div>
-->
<!-- <span></span> -->
<!--<a href="#/dashboard/products" class="text-center"><h2> Адмін панель</h2></a>-->

<a href="#/dashboard/products" class="text-center"><h2> Адмін панель</h2></a>
<br>

<div class="container-fluid">
<section class="products">
	<div class="row">
		<div class="container-fluid col-lg-12">
			<div class="list-group">
 						<div ng-repeat="cat in categories track by $index" class="cat">
  							<nav class="navbar navbar-default">
 							  <div class="container">
 							    <ul class="nav navbar-nav">
 							      <li class="dropdown">
 							        <a class="dropdown-toggle" data-toggle="dropdown" ui-sref="main.category({ catId: cat.c_id })" class="text-center">{{cat.title}}<span class="caret"></span></a>
 									<ul id="catMenu" class="dropdown-menu">
 										<!--Підкатегорії-->
 										<div ng-repeat="subcat in cat.subcats track by $index">
 											<a ui-sref="main.subcategory({ subcatId: subcat.s_id })" class="text-center"><span><img ng-src="{{subcat.images}}" alt="" style="height: 50%; width: 50%;">{{subcat.title}}<hr/ style="margin:0px;"></span></a>
 											<!--Субкатегорії-->
 											<div ng-repeat="subsubcat in subcat.subcats track by $index" class="list-group-item ssubcat">
										        <a ui-sref="main.ssubcategory({ ssubcatId: subsubcat.ss_id })" class="text-center"><span><img ng-src="{{subsubcat.images}}" alt="" style="height: 50%; width: 50%;">{{subsubcat.title}}</span></a>
									        </div>

 										</div>
 							        </ul>
 							      </li>
 							    </ul>
 							  </div>
 							</nav>
  						</div>
					</div>
		</div>
		<div class="container-fluid">

			<!--<div class="container-fluid">
				<div class="btn-group btn-group-vertical btn-block">
			    <div class="btn-group" ng-repeat="cat in categories track by $index" class="cat">
			      <button id="buttonSub" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" style="color:#ffffff;">
			      {{cat.title}}<span class="caret"></span></button>
			      <div class="dropdown-menu" role="menu" style="width:100%;">
							<div id="catMenu" ng-repeat="subcat in cat.subcats track by $index" class="col-sm-4 col-md-2 portfolio-item {{subcat.title}}">
								<a ui-sref="main.subcategory({ subcatId: subcat.s_id })" class="text-center"><span>{{subcat.title}}</span><img ng-src="{{subcat.images}}" alt="" width="90"></a><hr/ style="margin:5px 0 0 0;">
							</div>
			      </div>
			    </div>
				</div>
			</div><br/>

			<div class="container-fluid">
				<div class="btn-group btn-group-justified">
			    <div class="btn-group" ng-repeat="cat in categories track by $index" class="cat">
			      <button id="buttonSub" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" style="color:#ffffff;">
			      {{cat.title}}<span class="caret"></span></button>
			      <div class="dropdown-menu" role="menu" style="width:100%;">
							<div id="catMenu" ng-repeat="subcat in cat.subcats track by $index" class="col-sm-6 col-md-4 portfolio-item {{subcat.title}}">
								<a ui-sref="main.subcategory({ subcatId: subcat.s_id })" class="text-center"><span>{{subcat.title}}</span><img ng-src="{{subcat.images}}" alt="" width="90"></a><hr/ style="margin:5px 0 0 0;">
							</div>
			      </div>
			    </div>
				</div>
			</div><br/>-->

			<!--<div id="formButtonSearch" class="row" style="padding:10px 15px;background-color:#54C0EB;display:none;"><input ng-model="$products.query" placeholder="Пошук" style="height:50px;width:100%;padding-left:15px;border-radius:4px;">
			</div>
			<hr/ style="margin:5px 0;">
			<script>
			$(document).ready(function(){
			    $("#clickButtonSearch").click(function(){
			        $("#formButtonSearch").toggle();
			    });
			});
		</script>-->

			<div id="seachInput" class="row"><span id="clickSearch"><input id="formSearch" ng-model="$products.query" placeholder="Пошук">
			</span></div>
			<script>
			$(document).ready(function(){
					$("#clickSearch").click(function(){
							var div = $("#formSearch");
							div.animate({height: '40px', width: '100%'}, "slow");
					});
			});
			</script>

			<!--<script>
			$(document).ready(function(){
					$("#clickSearch").hover(function(){
						var div = $("#formSearch");
						div.animate({height: '50px', width: '100%'}, "slow");
					},
					function(){
						var div = $("#formSearch");
						div.animate({height: '50px', width: '50%'}, "slow");
					});
			});
		</script>-->

			<div class="panel-group" id="accordion">
				<div class="panel panel-default" ng-repeat="cat in categories track by $index" class="cat">
					<button type="button" class="btn btn-primary btn-block" data-toggle="collapse" data-parent="#accordion" data-target="#{{cat.eng_title}}">{{cat.title}}</button>
					<div id="{{cat.eng_title}}" class="panel-collapse collapse">
						<div class="container-fluid" style="padding:20px;">
							<div class="row">
								<div class="col-sm-4 col-md-2"class="panel-body" ng-repeat="subcat in cat.subcats track by $index">
									<a ui-sref="main.subcategory({ subcatId: subcat.s_id })"><span>{{subcat.title}}</span><img ng-src="{{subcat.images}}" alt="" width="90"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="container col-md-3">
					<div class="list-group">
 						<div ng-repeat="cat in categories track by $index" class="cat">
  							<nav class="navbar navbar-default">

	 							  <!--<div class="container">
	 							    <ul class="nav navbar-nav">
	 							      <li class="dropdown">
	 							        <a id="buttonSub" class="dropdown-toggle" data-toggle="dropdown" class="text-center">{{cat.title}}<span class="caret"></span></a>
	 											<ul id="catMenu" class="dropdown-menu">
	 												<div ng-repeat="subcat in cat.subcats track by $index">
	 													<a ui-sref="main.subcategory({ subcatId: subcat.s_id })" class="text-center"><span>{{subcat.title}}</span></a>
	 													<img ng-src="{{subcat.images}}" alt="" width="90"><hr/ style="margin:0px;">
	 												</div>
	 							        </ul>
	 							      </li>
	 							    </ul>
	 							  </div>
 								</nav>-->

 							  <div class="container">
 							    <ul class="nav navbar-nav">
 							      <li class="dropdown">
 							        <a class="dropdown-toggle" data-toggle="dropdown" ui-sref="main.category({ catId: cat.c_id })" class="text-center">{{cat.title}}<span class="caret"></span></a>
 									<ul id="catMenu" class="dropdown-menu">
 										<div ng-repeat="subcat in cat.subcats track by $index">
 											<a ui-sref="main.subcategory({ subcatId: subcat.s_id })" class="text-center"><span><img ng-src="{{subcat.images}}" alt="" style="height: 50%; width: 50%;">{{subcat.title}}<hr/ style="margin:0px;"></span></a>

 										</div>
 							        </ul>
 							      </li>
 							    </ul>
 							  </div>
 							</nav>

  						</div>
						</div>

				</div>

				<div class="col-md-9">
					<div ui-view></div>

					<hr>
					<h3>Новинки</h3>

					<div ng-cloak class="ng-cloak portfolio-container">
						<div class="row">
							<div ng-repeat="product in products track by $index" class="portfolio-item">


									<div class="col-sm-6 col-md-4 image-box">
										<p id="overflowTitle">{{product.title}}</p>
										<div class="overlay-container">
											<img ng-src="{{product.image}}" alt="">
											<a class="overlay" ui-sref="products({productId:product.id})" data-target="#{{$index}}">
											<i class="glyphicon glyphicon-zoom-in"></i>
											<span>{{product.price + ' ₴'}}</span>
											</a>
											<span id="stylePrice">{{product.price + ' ₴'}}</span>
									  </div>

							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>
</div>

<!--
<div class="container-fluid">
	<h2 class="text-center">Кращі виробники:</h2>
	<div class="separator"></div>
		<div class="clients col-md-12">
			<carousel interval="myInterval">
			  <slide ng-repeat="slideCollection in groupedSlides" active="slide.active">
			    <div>
			      <img  ng-repeat="slide in slideCollection" style="padding: 10px 20px 10px 20px; height: 80px; max-width: 100%"  ng-src="{{slide.image}}" style="margin:auto;">
			    </div>
			  </slide>
			</carousel>
		</div>
	</div>
</div>
-->
