<!--<div>
<input type="number" class="form-control" placeholder="Максимальна вартість товару" ng-model="priceterm" />
    <br/>
</div>-->
<div class="container-fluid">
  <div id="gridSsub" ng-cloak class="ng-cloak portfolio-container">
    <div ng-repeat="ssub in ssubs track by $index" class="text-center">
    	<a ui-sref="main.ssubcategory({ ssubcatId: ssub.ss_id })" class="text-center" id="nameSubSubCat"><span><img ng-src="{{ssub.images}}" alt="" style="height: 70%; width: 70%;"><br/>{{ssub.title}}</span></a>
    </div>
  </div>
</div>

<hr/>
<div class="row">

  <div class="col-md-2">
    <div class="container-fluid">
  		<h2>Фільтри</h2>
  		<select ng-model="maker">
  			<option selected disabled value="">Виберіть виробника</option>
  			<option ng-repeat="maker in makers track by $index" value="{{maker.name}}">{{maker.name}}</option>
  		</select>
  		<br><br>
  		<a href="" class="btn btn-primary" ng-click="onSelectOptionChanged()">Фільтрувати товари</a>
  		<br><br>
  		<a href="" class="btn btn-danger" ng-click="cleanFilter()">Скинути фільтри</a>
      <br><br>
  	</div>
  </div>

	<div class="col-md-10">
    <div class="container-fluid">
      <div id="gridPortfolioMain" ng-cloak class="ng-cloak portfolio-container">
      	<div  ng-repeat="product in products|priceLessThan:priceterm | filter:$products.query track by $index" class=" portfolio-item {{product.title}}">
      		<div class="image-box">
      			<p id="overflowTitle">{{product.title}}</p>
      			<div class="overlay-container">
      				<img ng-src="{{product.image}}" alt="">
      				<a class="overlay" ui-sref="products({productId:product.id})" data-target="#{{$index}}">
      				<p id="overlaySpecMain">{{product.spec}}</p>
      				</a>
      				<span id="stylePrice">{{product.price + ' ₴'}}</span>
      			</div>
      		</div>
      	</div>
      </div>
    </div><br/>
		<div class="text-center"><a href="" class="btn btn-primary" ng-click="loadMore()">Показати ще товарів</a></div>
	</div>

</div>
